.blog {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.blog .slide:not(.slide.slide1) {
  vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
  white-space: normal; /*Prevents child elements from inheriting nowrap.*/
  width: 100%;
  padding: 7px;
  /* max-height: 570px; */
}

.blog .slide1 img {
  width: 100% !important;
  object-fit: cover;
  height: 700px;
  object-position: top;
}

.blog .slide1 .slide-caption {
  position: relative;
  top: -70px;
  width: 80%;
  background-color: black;
}

.blog .slide .img-holder {
  overflow: hidden;
}

.blog .slide .img-holder img {
  width: 100%;
}
.blog .slide:hover .img-holder img {
  transform: scale(1.04);
  transition: all 0.4s;
}

.blog .slide .img-holder img {
  transition: all 0.4s;
}

@media (min-width: 992px) {
  .blog .slide:nth-of-type(2n + 1) .img-holder {
    margin-top: 60px;
    width: 100%;
  }
}

.blog .slide:hover .slide-caption .slide-caption-type {
  color: black;
}

.blog .slide .slide-caption .slide-caption-type {
  font-family: Prohibition-Regular;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.075em;
  position: relative;
  transition: all 1s;

  z-index: 1;

  padding: 0 7px;
}

.blog .slide .slide-caption .slide-caption-type:before {
  background: #cab884;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 3px;
  height: 100%;
  transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
}

.blog .slide:hover .slide-caption .slide-caption-type:before {
  width: 100%;
}

.blog .slide .slide-caption .slide-caption-date {
  font-size: 0.875rem;
  font-family: Matter-Regular;

  color: hsla(0, 0%, 100%, 0.6);
}

.blog .slide .slide-caption .slide-caption-title {
  font-size: 2rem;
  font-family: Prohibition-Regular;
  line-height: 1.225em;
  color: #fff;
  text-transform: uppercase;
}
